--[[
    Disabled due to a bug of it overiding the game
]]--
print("hi thanks for checking, globals are currently down due to some problems of locals not working correctly, im going to attempt to fix this later. Thanks for your patience - ReverT")
